.button {
  -fx-background-color: linear-gradient(
    from 0% 93% to 0% 100%,
    #fafad2,
    #fffacd
  );
  -fx-padding: 8 9 9 9;
  -fx-background-radius: 18;
  -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0.4), 4, 0, 0, 1);
  -fx-font-weight: bold;
  -fx-font-family: papyrus;
  -fx-font-size: 14px;
}

.button:hover {
  -fx-background-color: linear-gradient(
    from 0% 93% to 0% 100%,
    #ffebcd,
    #ffe4c4
  );
}

.button:pressed {
  -fx-padding: 10 10 10 10;
  -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}

#myProgressBar {
  -fx-background-color:#ffebcd;
  -fx-padding: 3 4 4 4;
  -fx-background-radius: 18;
  -fx-border-color:black;
  -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0.4), 4, 0, 0, 1);
}

#canvasBox {
  -fx-background-color: white;
  -fx-border-color: black;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0.4), 4, 0, 0, 1);
  -fx-background-radius: 18;
}

#predictionLabel {
  -fx-background-color: white;
  -fx-border-color: black;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0.4), 4, 0, 0, 1);
  -fx-background-radius: 18;
  -fx-padding: 5 0 0 10;
 }
 
 #gamemodeLabel {
  -fx-background-color: white;
  -fx-border-color: #98cdff;
  -fx-border-radius: 18;
  -fx-border-width: 3;
 }
 
