.button {
	-fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #FAFAD2, #FFFACD);
	-fx-padding:8 9 9 9;
	-fx-background-radius: 18;
	-fx-background-insets:0,0 0 5 0,0 0 6 0,0 0 7 0;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0.4), 4, 0.0, 0, 1);
	-fx-font-weight:bold;
    -fx-font-family: papyrus;
    -fx-font-size: 14px;
}

.button:hover {
	-fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #FFEBCD, #FFE4C4);

}

.button:pressed {
	-fx-padding: 10 10 10 10;
	-fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
}

.root{
	-fx-background-color: #FFEBCD;
}

#title{
    -fx-font-weight: bold;
    -fx-font-family: papyrus;
    -fx-font-size:20px;
}

#resultLabel{
    -fx-font-weight: bold;
    -fx-font-family: papyrus;
    -fx-font-size:17px;
}

#myProgressBar {
	-fx-padding:3 4 4 4;
	-fx-background-radius: 18;
	-fx-background-insets:0,0 0 5 0,0 0 6 0,0 0 7 0;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0.4), 4, 0.0, 0, 1);
}

#canvasBox {
	-fx-background-color:white;
	-fx-border-color:black;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0.4), 4, 0.0, 0, 1);
	-fx-background-radius: 18;
}

