#usedWordsBox {
  -fx-background-color: white;
  -fx-border-color: black;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0.4), 4, 0, 0, 1);
  -fx-background-radius: 18;
}

.label {
}

.root {
  -fx-background-color: #ffebcd;
}

.button {
  -fx-background-color: linear-gradient(
    from 0% 93% to 0% 100%,
    #fafad2,
    #fffacd
  );
  -fx-padding: 8 9 9 9;
  -fx-background-radius: 18;
  -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0.4), 4, 0, 0, 1);
}

.button:hover {
  -fx-background-color: linear-gradient(
    from 0% 93% to 0% 100%,
    #ffebcd,
    #ffe4c4
  );
}

.button:pressed {
  -fx-padding: 10 10 10 10;
  -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}

#welcomeLabel {
}

#logoutButton {
  -fx-background-color: rgb(244, 159, 159);
}

#b1b,
#b2b,
#b3b,
#b4b,
#b5b,
#b6b,
#b7b,
#b8b,
#b8b,
#b9b,
#b10b,
#b11b,
#b12b {
  -fx-background-color: rgba(0, 0, 0, 0);
}
